<a href="https://colab.research.google.com/github/25041095-HDEZ/Probabilidad/blob/main/PRO_U1_Pracrica3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Basado en el Libro de estadistica para administracion pagina 12
# Creamos una lista vacia que representa la edad de 100 personas
import random
edades = []
for i in range(100):
  numero_aleatorio = random.randint(18, 70)
  edades.append(numero_aleatorio)
  print(edades)

[70]
[70, 25]
[70, 25, 69]
[70, 25, 69, 53]
[70, 25, 69, 53, 67]
[70, 25, 69, 53, 67, 52]
[70, 25, 69, 53, 67, 52, 61]
[70, 25, 69, 53, 67, 52, 61, 23]
[70, 25, 69, 53, 67, 52, 61, 23, 32]
[70, 25, 69, 53, 67, 52, 61, 23, 32, 68]
[70, 25, 69, 53, 67, 52, 61, 23, 32, 68, 67]
[70, 25, 69, 53, 67, 52, 61, 23, 32, 68, 67, 22]
[70, 25, 69, 53, 67, 52, 61, 23, 32, 68, 67, 22, 43]
[70, 25, 69, 53, 67, 52, 61, 23, 32, 68, 67, 22, 43, 40]
[70, 25, 69, 53, 67, 52, 61, 23, 32, 68, 67, 22, 43, 40, 60]
[70, 25, 69, 53, 67, 52, 61, 23, 32, 68, 67, 22, 43, 40, 60, 64]
[70, 25, 69, 53, 67, 52, 61, 23, 32, 68, 67, 22, 43, 40, 60, 64, 41]
[70, 25, 69, 53, 67, 52, 61, 23, 32, 68, 67, 22, 43, 40, 60, 64, 41, 44]
[70, 25, 69, 53, 67, 52, 61, 23, 32, 68, 67, 22, 43, 40, 60, 64, 41, 44, 55]
[70, 25, 69, 53, 67, 52, 61, 23, 32, 68, 67, 22, 43, 40, 60, 64, 41, 44, 55, 54]
[70, 25, 69, 53, 67, 52, 61, 23, 32, 68, 67, 22, 43, 40, 60, 64, 41, 44, 55, 54, 53]
[70, 25, 69, 53, 67, 52, 61, 23, 32, 68, 67, 22, 43, 40, 60, 64, 41, 44, 55, 54, 53, 48]
[70, 25, 69, 53, 67, 52, 61, 23, 32, 68, 67, 22, 43, 40, 60, 64, 41, 44, 55, 54, 53, 48, 37]
[70, 25, 69, 53, 67, 52, 61, 23, 32, 68, 67, 22, 43, 40, 60, 64, 41, 44, 55, 54, 53, 48, 37, 58]
[70, 25, 69, 53, 67, 52, 61, 23, 32, 68, 67, 22, 43, 40, 60, 64, 41, 44, 55, 54, 53, 48, 37, 58, 45]
[70, 25, 69, 53, 67, 52, 61, 23, 32, 68, 67, 22, 43, 40, 60, 64, 41, 44, 55, 54, 53, 48, 37, 58, 45, 38]
[70, 25, 69, 53, 67, 52, 61, 23, 32, 68, 67, 22, 43, 40, 60, 64, 41, 44, 55, 54, 53, 48, 37, 58, 45, 38, 25]
[70, 25, 69, 53, 67, 52, 61, 23, 32, 68, 67, 22, 43, 40, 60, 64, 41, 44, 55, 54, 53, 48, 37, 58, 45, 38, 25, 23]
[70, 25, 69, 53, 67, 52, 61, 23, 32, 68, 67, 22, 43, 40, 60, 64, 41, 44, 55, 54, 53, 48, 37, 58, 45, 38, 25, 23, 52]
[70, 25, 69, 53, 67, 52, 61, 23, 32, 68, 67, 22, 43, 40, 60, 64, 41, 44, 55, 54, 53, 48, 37, 58, 45, 38, 25, 23, 52, 32]
[70, 25, 69, 53, 67, 52, 61, 23, 32, 68, 67, 22, 43, 40, 60, 64, 41, 44, 55, 54, 53, 48, 37, 58, 45, 38, 25, 23, 52, 32, 35]
[70, 25, 69, 53, 67, 52, 61, 23, 32, 68, 67, 22, 43, 40, 60, 64, 41, 44, 55, 54, 53, 48, 37, 58, 45, 38, 25, 23, 52, 32, 35, 24]
[70, 25, 69, 53, 67, 52, 61, 23, 32, 68, 67, 22, 43, 40, 60, 64, 41, 44, 55, 54, 53, 48, 37, 58, 45, 38, 25, 23, 52, 32, 35, 24, 58]
[70, 25, 69, 53, 67, 52, 61, 23, 32, 68, 67, 22, 43, 40, 60, 64, 41, 44, 55, 54, 53, 48, 37, 58, 45, 38, 25, 23, 52, 32, 35, 24, 58, 54]
[70, 25, 69, 53, 67, 52, 61, 23, 32, 68, 67, 22, 43, 40, 60, 64, 41, 44, 55, 54, 53, 48, 37, 58, 45, 38, 25, 23, 52, 32, 35, 24, 58, 54, 47]
[70, 25, 69, 53, 67, 52, 61, 23, 32, 68, 67, 22, 43, 40, 60, 64, 41, 44, 55, 54, 53, 48, 37, 58, 45, 38, 25, 23, 52, 32, 35, 24, 58, 54, 47, 44]
[70, 25, 69, 53, 67, 52, 61, 23, 32, 68, 67, 22, 43, 40, 60, 64, 41, 44, 55, 54, 53, 48, 37, 58, 45, 38, 25, 23, 52, 32, 35, 24, 58, 54, 47, 44, 67]
[70, 25, 69, 53, 67, 52, 61, 23, 32, 68, 67, 22, 43, 40, 60, 64, 41, 44, 55, 54, 53, 48, 37, 58, 45, 38, 25, 23, 52, 32, 35, 24, 58, 54, 47, 44, 67, 55]
[70, 25, 69, 53, 67, 52, 61, 23, 32, 68, 67, 22, 43, 40, 60, 64, 41, 44, 55, 54, 53, 48, 37, 58, 45, 38, 25, 23, 52, 32, 35, 24, 58, 54, 47, 44, 67, 55, 51]
[70, 25, 69, 53, 67, 52, 61, 23, 32, 68, 67, 22, 43, 40, 60, 64, 41, 44, 55, 54, 53, 48, 37, 58, 45, 38, 25, 23, 52, 32, 35, 24, 58, 54, 47, 44, 67, 55, 51, 52]
[70, 25, 69, 53, 67, 52, 61, 23, 32, 68, 67, 22, 43, 40, 60, 64, 41, 44, 55, 54, 53, 48, 37, 58, 45, 38, 25, 23, 52, 32, 35, 24, 58, 54, 47, 44, 67, 55, 51, 52, 64]
[70, 25, 69, 53, 67, 52, 61, 23, 32, 68, 67, 22, 43, 40, 60, 64, 41, 44, 55, 54, 53, 48, 37, 58, 45, 38, 25, 23, 52, 32, 35, 24, 58, 54, 47, 44, 67, 55, 51, 52, 64, 67]
[70, 25, 69, 53, 67, 52, 61, 23, 32, 68, 67, 22, 43, 40, 60, 64, 41, 44, 55, 54, 53, 48, 37, 58, 45, 38, 25, 23, 52, 32, 35, 24, 58, 54, 47, 44, 67, 55, 51, 52, 64, 67, 19]
[70, 25, 69, 53, 67, 52, 61, 23, 32, 68, 67, 22, 43, 40, 60, 64, 41, 44, 55, 54, 53, 48, 37, 58, 45, 38, 25, 23, 52, 32, 35, 24, 58, 54, 47, 44, 67, 55, 51, 52, 64, 67, 19, 51]
[70, 25, 69, 53, 67, 52, 61, 23, 32, 68, 67, 22, 43, 40, 60, 64, 41, 44, 55, 54, 53, 48, 37, 58, 45, 38, 25, 23, 52, 32, 35, 24, 58, 54, 47, 44, 67, 55, 51, 52, 64, 67, 19, 51, 23]
[70, 25, 69, 53, 67, 52, 61, 23, 32, 68, 67, 22, 43, 40, 60, 64, 41, 44, 55, 54, 53, 48, 37, 58, 45, 38, 25, 23, 52, 32, 35, 24, 58, 54, 47, 44, 67, 55, 51, 52, 64, 67, 19, 51, 23, 41]
[70, 25, 69, 53, 67, 52, 61, 23, 32, 68, 67, 22, 43, 40, 60, 64, 41, 44, 55, 54, 53, 48, 37, 58, 45, 38, 25, 23, 52, 32, 35, 24, 58, 54, 47, 44, 67, 55, 51, 52, 64, 67, 19, 51, 23, 41, 43]
[70, 25, 69, 53, 67, 52, 61, 23, 32, 68, 67, 22, 43, 40, 60, 64, 41, 44, 55, 54, 53, 48, 37, 58, 45, 38, 25, 23, 52, 32, 35, 24, 58, 54, 47, 44, 67, 55, 51, 52, 64, 67, 19, 51, 23, 41, 43, 39]
[70, 25, 69, 53, 67, 52, 61, 23, 32, 68, 67, 22, 43, 40, 60, 64, 41, 44, 55, 54, 53, 48, 37, 58, 45, 38, 25, 23, 52, 32, 35, 24, 58, 54, 47, 44, 67, 55, 51, 52, 64, 67, 19, 51, 23, 41, 43, 39, 32]
[70, 25, 69, 53, 67, 52, 61, 23, 32, 68, 67, 22, 43, 40, 60, 64, 41, 44, 55, 54, 53, 48, 37, 58, 45, 38, 25, 23, 52, 32, 35, 24, 58, 54, 47, 44, 67, 55, 51, 52, 64, 67, 19, 51, 23, 41, 43, 39, 32, 69]
[70, 25, 69, 53, 67, 52, 61, 23, 32, 68, 67, 22, 43, 40, 60, 64, 41, 44, 55, 54, 53, 48, 37, 58, 45, 38, 25, 23, 52, 32, 35, 24, 58, 54, 47, 44, 67, 55, 51, 52, 64, 67, 19, 51, 23, 41, 43, 39, 32, 69, 30]
[70, 25, 69, 53, 67, 52, 61, 23, 32, 68, 67, 22, 43, 40, 60, 64, 41, 44, 55, 54, 53, 48, 37, 58, 45, 38, 25, 23, 52, 32, 35, 24, 58, 54, 47, 44, 67, 55, 51, 52, 64, 67, 19, 51, 23, 41, 43, 39, 32, 69, 30, 67]
[70, 25, 69, 53, 67, 52, 61, 23, 32, 68, 67, 22, 43, 40, 60, 64, 41, 44, 55, 54, 53, 48, 37, 58, 45, 38, 25, 23, 52, 32, 35, 24, 58, 54, 47, 44, 67, 55, 51, 52, 64, 67, 19, 51, 23, 41, 43, 39, 32, 69, 30, 67, 54]
[70, 25, 69, 53, 67, 52, 61, 23, 32, 68, 67, 22, 43, 40, 60, 64, 41, 44, 55, 54, 53, 48, 37, 58, 45, 38, 25, 23, 52, 32, 35, 24, 58, 54, 47, 44, 67, 55, 51, 52, 64, 67, 19, 51, 23, 41, 43, 39, 32, 69, 30, 67, 54, 50]
[70, 25, 69, 53, 67, 52, 61, 23, 32, 68, 67, 22, 43, 40, 60, 64, 41, 44, 55, 54, 53, 48, 37, 58, 45, 38, 25, 23, 52, 32, 35, 24, 58, 54, 47, 44, 67, 55, 51, 52, 64, 67, 19, 51, 23, 41, 43, 39, 32, 69, 30, 67, 54, 50, 46]
[70, 25, 69, 53, 67, 52, 61, 23, 32, 68, 67, 22, 43, 40, 60, 64, 41, 44, 55, 54, 53, 48, 37, 58, 45, 38, 25, 23, 52, 32, 35, 24, 58, 54, 47, 44, 67, 55, 51, 52, 64, 67, 19, 51, 23, 41, 43, 39, 32, 69, 30, 67, 54, 50, 46, 41]
[70, 25, 69, 53, 67, 52, 61, 23, 32, 68, 67, 22, 43, 40, 60, 64, 41, 44, 55, 54, 53, 48, 37, 58, 45, 38, 25, 23, 52, 32, 35, 24, 58, 54, 47, 44, 67, 55, 51, 52, 64, 67, 19, 51, 23, 41, 43, 39, 32, 69, 30, 67, 54, 50, 46, 41, 23]
[70, 25, 69, 53, 67, 52, 61, 23, 32, 68, 67, 22, 43, 40, 60, 64, 41, 44, 55, 54, 53, 48, 37, 58, 45, 38, 25, 23, 52, 32, 35, 24, 58, 54, 47, 44, 67, 55, 51, 52, 64, 67, 19, 51, 23, 41, 43, 39, 32, 69, 30, 67, 54, 50, 46, 41, 23, 56]
[70, 25, 69, 53, 67, 52, 61, 23, 32, 68, 67, 22, 43, 40, 60, 64, 41, 44, 55, 54, 53, 48, 37, 58, 45, 38, 25, 23, 52, 32, 35, 24, 58, 54, 47, 44, 67, 55, 51, 52, 64, 67, 19, 51, 23, 41, 43, 39, 32, 69, 30, 67, 54, 50, 46, 41, 23, 56, 43]
[70, 25, 69, 53, 67, 52, 61, 23, 32, 68, 67, 22, 43, 40, 60, 64, 41, 44, 55, 54, 53, 48, 37, 58, 45, 38, 25, 23, 52, 32, 35, 24, 58, 54, 47, 44, 67, 55, 51, 52, 64, 67, 19, 51, 23, 41, 43, 39, 32, 69, 30, 67, 54, 50, 46, 41, 23, 56, 43, 27]
[70, 25, 69, 53, 67, 52, 61, 23, 32, 68, 67, 22, 43, 40, 60, 64, 41, 44, 55, 54, 53, 48, 37, 58, 45, 38, 25, 23, 52, 32, 35, 24, 58, 54, 47, 44, 67, 55, 51, 52, 64, 67, 19, 51, 23, 41, 43, 39, 32, 69, 30, 67, 54, 50, 46, 41, 23, 56, 43, 27, 26]
[70, 25, 69, 53, 67, 52, 61, 23, 32, 68, 67, 22, 43, 40, 60, 64, 41, 44, 55, 54, 53, 48, 37, 58, 45, 38, 25, 23, 52, 32, 35, 24, 58, 54, 47, 44, 67, 55, 51, 52, 64, 67, 19, 51, 23, 41, 43, 39, 32, 69, 30, 67, 54, 50, 46, 41, 23, 56, 43, 27, 26, 63]
[70, 25, 69, 53, 67, 52, 61, 23, 32, 68, 67, 22, 43, 40, 60, 64, 41, 44, 55, 54, 53, 48, 37, 58, 45, 38, 25, 23, 52, 32, 35, 24, 58, 54, 47, 44, 67, 55, 51, 52, 64, 67, 19, 51, 23, 41, 43, 39, 32, 69, 30, 67, 54, 50, 46, 41, 23, 56, 43, 27, 26, 63, 18]
[70, 25, 69, 53, 67, 52, 61, 23, 32, 68, 67, 22, 43, 40, 60, 64, 41, 44, 55, 54, 53, 48, 37, 58, 45, 38, 25, 23, 52, 32, 35, 24, 58, 54, 47, 44, 67, 55, 51, 52, 64, 67, 19, 51, 23, 41, 43, 39, 32, 69, 30, 67, 54, 50, 46, 41, 23, 56, 43, 27, 26, 63, 18, 26]
[70, 25, 69, 53, 67, 52, 61, 23, 32, 68, 67, 22, 43, 40, 60, 64, 41, 44, 55, 54, 53, 48, 37, 58, 45, 38, 25, 23, 52, 32, 35, 24, 58, 54, 47, 44, 67, 55, 51, 52, 64, 67, 19, 51, 23, 41, 43, 39, 32, 69, 30, 67, 54, 50, 46, 41, 23, 56, 43, 27, 26, 63, 18, 26, 27]
[70, 25, 69, 53, 67, 52, 61, 23, 32, 68, 67, 22, 43, 40, 60, 64, 41, 44, 55, 54, 53, 48, 37, 58, 45, 38, 25, 23, 52, 32, 35, 24, 58, 54, 47, 44, 67, 55, 51, 52, 64, 67, 19, 51, 23, 41, 43, 39, 32, 69, 30, 67, 54, 50, 46, 41, 23, 56, 43, 27, 26, 63, 18, 26, 27, 48]
[70, 25, 69, 53, 67, 52, 61, 23, 32, 68, 67, 22, 43, 40, 60, 64, 41, 44, 55, 54, 53, 48, 37, 58, 45, 38, 25, 23, 52, 32, 35, 24, 58, 54, 47, 44, 67, 55, 51, 52, 64, 67, 19, 51, 23, 41, 43, 39, 32, 69, 30, 67, 54, 50, 46, 41, 23, 56, 43, 27, 26, 63, 18, 26, 27, 48, 57]
[70, 25, 69, 53, 67, 52, 61, 23, 32, 68, 67, 22, 43, 40, 60, 64, 41, 44, 55, 54, 53, 48, 37, 58, 45, 38, 25, 23, 52, 32, 35, 24, 58, 54, 47, 44, 67, 55, 51, 52, 64, 67, 19, 51, 23, 41, 43, 39, 32, 69, 30, 67, 54, 50, 46, 41, 23, 56, 43, 27, 26, 63, 18, 26, 27, 48, 57, 42]
[70, 25, 69, 53, 67, 52, 61, 23, 32, 68, 67, 22, 43, 40, 60, 64, 41, 44, 55, 54, 53, 48, 37, 58, 45, 38, 25, 23, 52, 32, 35, 24, 58, 54, 47, 44, 67, 55, 51, 52, 64, 67, 19, 51, 23, 41, 43, 39, 32, 69, 30, 67, 54, 50, 46, 41, 23, 56, 43, 27, 26, 63, 18, 26, 27, 48, 57, 42, 53]
[70, 25, 69, 53, 67, 52, 61, 23, 32, 68, 67, 22, 43, 40, 60, 64, 41, 44, 55, 54, 53, 48, 37, 58, 45, 38, 25, 23, 52, 32, 35, 24, 58, 54, 47, 44, 67, 55, 51, 52, 64, 67, 19, 51, 23, 41, 43, 39, 32, 69, 30, 67, 54, 50, 46, 41, 23, 56, 43, 27, 26, 63, 18, 26, 27, 48, 57, 42, 53, 70]
[70, 25, 69, 53, 67, 52, 61, 23, 32, 68, 67, 22, 43, 40, 60, 64, 41, 44, 55, 54, 53, 48, 37, 58, 45, 38, 25, 23, 52, 32, 35, 24, 58, 54, 47, 44, 67, 55, 51, 52, 64, 67, 19, 51, 23, 41, 43, 39, 32, 69, 30, 67, 54, 50, 46, 41, 23, 56, 43, 27, 26, 63, 18, 26, 27, 48, 57, 42, 53, 70, 43]
[70, 25, 69, 53, 67, 52, 61, 23, 32, 68, 67, 22, 43, 40, 60, 64, 41, 44, 55, 54, 53, 48, 37, 58, 45, 38, 25, 23, 52, 32, 35, 24, 58, 54, 47, 44, 67, 55, 51, 52, 64, 67, 19, 51, 23, 41, 43, 39, 32, 69, 30, 67, 54, 50, 46, 41, 23, 56, 43, 27, 26, 63, 18, 26, 27, 48, 57, 42, 53, 70, 43, 37]
[70, 25, 69, 53, 67, 52, 61, 23, 32, 68, 67, 22, 43, 40, 60, 64, 41, 44, 55, 54, 53, 48, 37, 58, 45, 38, 25, 23, 52, 32, 35, 24, 58, 54, 47, 44, 67, 55, 51, 52, 64, 67, 19, 51, 23, 41, 43, 39, 32, 69, 30, 67, 54, 50, 46, 41, 23, 56, 43, 27, 26, 63, 18, 26, 27, 48, 57, 42, 53, 70, 43, 37, 46]
[70, 25, 69, 53, 67, 52, 61, 23, 32, 68, 67, 22, 43, 40, 60, 64, 41, 44, 55, 54, 53, 48, 37, 58, 45, 38, 25, 23, 52, 32, 35, 24, 58, 54, 47, 44, 67, 55, 51, 52, 64, 67, 19, 51, 23, 41, 43, 39, 32, 69, 30, 67, 54, 50, 46, 41, 23, 56, 43, 27, 26, 63, 18, 26, 27, 48, 57, 42, 53, 70, 43, 37, 46, 25]
[70, 25, 69, 53, 67, 52, 61, 23, 32, 68, 67, 22, 43, 40, 60, 64, 41, 44, 55, 54, 53, 48, 37, 58, 45, 38, 25, 23, 52, 32, 35, 24, 58, 54, 47, 44, 67, 55, 51, 52, 64, 67, 19, 51, 23, 41, 43, 39, 32, 69, 30, 67, 54, 50, 46, 41, 23, 56, 43, 27, 26, 63, 18, 26, 27, 48, 57, 42, 53, 70, 43, 37, 46, 25, 37]
[70, 25, 69, 53, 67, 52, 61, 23, 32, 68, 67, 22, 43, 40, 60, 64, 41, 44, 55, 54, 53, 48, 37, 58, 45, 38, 25, 23, 52, 32, 35, 24, 58, 54, 47, 44, 67, 55, 51, 52, 64, 67, 19, 51, 23, 41, 43, 39, 32, 69, 30, 67, 54, 50, 46, 41, 23, 56, 43, 27, 26, 63, 18, 26, 27, 48, 57, 42, 53, 70, 43, 37, 46, 25, 37, 63]
[70, 25, 69, 53, 67, 52, 61, 23, 32, 68, 67, 22, 43, 40, 60, 64, 41, 44, 55, 54, 53, 48, 37, 58, 45, 38, 25, 23, 52, 32, 35, 24, 58, 54, 47, 44, 67, 55, 51, 52, 64, 67, 19, 51, 23, 41, 43, 39, 32, 69, 30, 67, 54, 50, 46, 41, 23, 56, 43, 27, 26, 63, 18, 26, 27, 48, 57, 42, 53, 70, 43, 37, 46, 25, 37, 63, 54]
[70, 25, 69, 53, 67, 52, 61, 23, 32, 68, 67, 22, 43, 40, 60, 64, 41, 44, 55, 54, 53, 48, 37, 58, 45, 38, 25, 23, 52, 32, 35, 24, 58, 54, 47, 44, 67, 55, 51, 52, 64, 67, 19, 51, 23, 41, 43, 39, 32, 69, 30, 67, 54, 50, 46, 41, 23, 56, 43, 27, 26, 63, 18, 26, 27, 48, 57, 42, 53, 70, 43, 37, 46, 25, 37, 63, 54, 64]
[70, 25, 69, 53, 67, 52, 61, 23, 32, 68, 67, 22, 43, 40, 60, 64, 41, 44, 55, 54, 53, 48, 37, 58, 45, 38, 25, 23, 52, 32, 35, 24, 58, 54, 47, 44, 67, 55, 51, 52, 64, 67, 19, 51, 23, 41, 43, 39, 32, 69, 30, 67, 54, 50, 46, 41, 23, 56, 43, 27, 26, 63, 18, 26, 27, 48, 57, 42, 53, 70, 43, 37, 46, 25, 37, 63, 54, 64, 28]
[70, 25, 69, 53, 67, 52, 61, 23, 32, 68, 67, 22, 43, 40, 60, 64, 41, 44, 55, 54, 53, 48, 37, 58, 45, 38, 25, 23, 52, 32, 35, 24, 58, 54, 47, 44, 67, 55, 51, 52, 64, 67, 19, 51, 23, 41, 43, 39, 32, 69, 30, 67, 54, 50, 46, 41, 23, 56, 43, 27, 26, 63, 18, 26, 27, 48, 57, 42, 53, 70, 43, 37, 46, 25, 37, 63, 54, 64, 28, 61]
[70, 25, 69, 53, 67, 52, 61, 23, 32, 68, 67, 22, 43, 40, 60, 64, 41, 44, 55, 54, 53, 48, 37, 58, 45, 38, 25, 23, 52, 32, 35, 24, 58, 54, 47, 44, 67, 55, 51, 52, 64, 67, 19, 51, 23, 41, 43, 39, 32, 69, 30, 67, 54, 50, 46, 41, 23, 56, 43, 27, 26, 63, 18, 26, 27, 48, 57, 42, 53, 70, 43, 37, 46, 25, 37, 63, 54, 64, 28, 61, 29]
[70, 25, 69, 53, 67, 52, 61, 23, 32, 68, 67, 22, 43, 40, 60, 64, 41, 44, 55, 54, 53, 48, 37, 58, 45, 38, 25, 23, 52, 32, 35, 24, 58, 54, 47, 44, 67, 55, 51, 52, 64, 67, 19, 51, 23, 41, 43, 39, 32, 69, 30, 67, 54, 50, 46, 41, 23, 56, 43, 27, 26, 63, 18, 26, 27, 48, 57, 42, 53, 70, 43, 37, 46, 25, 37, 63, 54, 64, 28, 61, 29, 25]
[70, 25, 69, 53, 67, 52, 61, 23, 32, 68, 67, 22, 43, 40, 60, 64, 41, 44, 55, 54, 53, 48, 37, 58, 45, 38, 25, 23, 52, 32, 35, 24, 58, 54, 47, 44, 67, 55, 51, 52, 64, 67, 19, 51, 23, 41, 43, 39, 32, 69, 30, 67, 54, 50, 46, 41, 23, 56, 43, 27, 26, 63, 18, 26, 27, 48, 57, 42, 53, 70, 43, 37, 46, 25, 37, 63, 54, 64, 28, 61, 29, 25, 48]
[70, 25, 69, 53, 67, 52, 61, 23, 32, 68, 67, 22, 43, 40, 60, 64, 41, 44, 55, 54, 53, 48, 37, 58, 45, 38, 25, 23, 52, 32, 35, 24, 58, 54, 47, 44, 67, 55, 51, 52, 64, 67, 19, 51, 23, 41, 43, 39, 32, 69, 30, 67, 54, 50, 46, 41, 23, 56, 43, 27, 26, 63, 18, 26, 27, 48, 57, 42, 53, 70, 43, 37, 46, 25, 37, 63, 54, 64, 28, 61, 29, 25, 48, 43]
[70, 25, 69, 53, 67, 52, 61, 23, 32, 68, 67, 22, 43, 40, 60, 64, 41, 44, 55, 54, 53, 48, 37, 58, 45, 38, 25, 23, 52, 32, 35, 24, 58, 54, 47, 44, 67, 55, 51, 52, 64, 67, 19, 51, 23, 41, 43, 39, 32, 69, 30, 67, 54, 50, 46, 41, 23, 56, 43, 27, 26, 63, 18, 26, 27, 48, 57, 42, 53, 70, 43, 37, 46, 25, 37, 63, 54, 64, 28, 61, 29, 25, 48, 43, 61]
[70, 25, 69, 53, 67, 52, 61, 23, 32, 68, 67, 22, 43, 40, 60, 64, 41, 44, 55, 54, 53, 48, 37, 58, 45, 38, 25, 23, 52, 32, 35, 24, 58, 54, 47, 44, 67, 55, 51, 52, 64, 67, 19, 51, 23, 41, 43, 39, 32, 69, 30, 67, 54, 50, 46, 41, 23, 56, 43, 27, 26, 63, 18, 26, 27, 48, 57, 42, 53, 70, 43, 37, 46, 25, 37, 63, 54, 64, 28, 61, 29, 25, 48, 43, 61, 34]
[70, 25, 69, 53, 67, 52, 61, 23, 32, 68, 67, 22, 43, 40, 60, 64, 41, 44, 55, 54, 53, 48, 37, 58, 45, 38, 25, 23, 52, 32, 35, 24, 58, 54, 47, 44, 67, 55, 51, 52, 64, 67, 19, 51, 23, 41, 43, 39, 32, 69, 30, 67, 54, 50, 46, 41, 23, 56, 43, 27, 26, 63, 18, 26, 27, 48, 57, 42, 53, 70, 43, 37, 46, 25, 37, 63, 54, 64, 28, 61, 29, 25, 48, 43, 61, 34, 25]
[70, 25, 69, 53, 67, 52, 61, 23, 32, 68, 67, 22, 43, 40, 60, 64, 41, 44, 55, 54, 53, 48, 37, 58, 45, 38, 25, 23, 52, 32, 35, 24, 58, 54, 47, 44, 67, 55, 51, 52, 64, 67, 19, 51, 23, 41, 43, 39, 32, 69, 30, 67, 54, 50, 46, 41, 23, 56, 43, 27, 26, 63, 18, 26, 27, 48, 57, 42, 53, 70, 43, 37, 46, 25, 37, 63, 54, 64, 28, 61, 29, 25, 48, 43, 61, 34, 25, 70]
[70, 25, 69, 53, 67, 52, 61, 23, 32, 68, 67, 22, 43, 40, 60, 64, 41, 44, 55, 54, 53, 48, 37, 58, 45, 38, 25, 23, 52, 32, 35, 24, 58, 54, 47, 44, 67, 55, 51, 52, 64, 67, 19, 51, 23, 41, 43, 39, 32, 69, 30, 67, 54, 50, 46, 41, 23, 56, 43, 27, 26, 63, 18, 26, 27, 48, 57, 42, 53, 70, 43, 37, 46, 25, 37, 63, 54, 64, 28, 61, 29, 25, 48, 43, 61, 34, 25, 70, 32]
[70, 25, 69, 53, 67, 52, 61, 23, 32, 68, 67, 22, 43, 40, 60, 64, 41, 44, 55, 54, 53, 48, 37, 58, 45, 38, 25, 23, 52, 32, 35, 24, 58, 54, 47, 44, 67, 55, 51, 52, 64, 67, 19, 51, 23, 41, 43, 39, 32, 69, 30, 67, 54, 50, 46, 41, 23, 56, 43, 27, 26, 63, 18, 26, 27, 48, 57, 42, 53, 70, 43, 37, 46, 25, 37, 63, 54, 64, 28, 61, 29, 25, 48, 43, 61, 34, 25, 70, 32, 22]
[70, 25, 69, 53, 67, 52, 61, 23, 32, 68, 67, 22, 43, 40, 60, 64, 41, 44, 55, 54, 53, 48, 37, 58, 45, 38, 25, 23, 52, 32, 35, 24, 58, 54, 47, 44, 67, 55, 51, 52, 64, 67, 19, 51, 23, 41, 43, 39, 32, 69, 30, 67, 54, 50, 46, 41, 23, 56, 43, 27, 26, 63, 18, 26, 27, 48, 57, 42, 53, 70, 43, 37, 46, 25, 37, 63, 54, 64, 28, 61, 29, 25, 48, 43, 61, 34, 25, 70, 32, 22, 33]
[70, 25, 69, 53, 67, 52, 61, 23, 32, 68, 67, 22, 43, 40, 60, 64, 41, 44, 55, 54, 53, 48, 37, 58, 45, 38, 25, 23, 52, 32, 35, 24, 58, 54, 47, 44, 67, 55, 51, 52, 64, 67, 19, 51, 23, 41, 43, 39, 32, 69, 30, 67, 54, 50, 46, 41, 23, 56, 43, 27, 26, 63, 18, 26, 27, 48, 57, 42, 53, 70, 43, 37, 46, 25, 37, 63, 54, 64, 28, 61, 29, 25, 48, 43, 61, 34, 25, 70, 32, 22, 33, 42]
[70, 25, 69, 53, 67, 52, 61, 23, 32, 68, 67, 22, 43, 40, 60, 64, 41, 44, 55, 54, 53, 48, 37, 58, 45, 38, 25, 23, 52, 32, 35, 24, 58, 54, 47, 44, 67, 55, 51, 52, 64, 67, 19, 51, 23, 41, 43, 39, 32, 69, 30, 67, 54, 50, 46, 41, 23, 56, 43, 27, 26, 63, 18, 26, 27, 48, 57, 42, 53, 70, 43, 37, 46, 25, 37, 63, 54, 64, 28, 61, 29, 25, 48, 43, 61, 34, 25, 70, 32, 22, 33, 42, 61]
[70, 25, 69, 53, 67, 52, 61, 23, 32, 68, 67, 22, 43, 40, 60, 64, 41, 44, 55, 54, 53, 48, 37, 58, 45, 38, 25, 23, 52, 32, 35, 24, 58, 54, 47, 44, 67, 55, 51, 52, 64, 67, 19, 51, 23, 41, 43, 39, 32, 69, 30, 67, 54, 50, 46, 41, 23, 56, 43, 27, 26, 63, 18, 26, 27, 48, 57, 42, 53, 70, 43, 37, 46, 25, 37, 63, 54, 64, 28, 61, 29, 25, 48, 43, 61, 34, 25, 70, 32, 22, 33, 42, 61, 27]
[70, 25, 69, 53, 67, 52, 61, 23, 32, 68, 67, 22, 43, 40, 60, 64, 41, 44, 55, 54, 53, 48, 37, 58, 45, 38, 25, 23, 52, 32, 35, 24, 58, 54, 47, 44, 67, 55, 51, 52, 64, 67, 19, 51, 23, 41, 43, 39, 32, 69, 30, 67, 54, 50, 46, 41, 23, 56, 43, 27, 26, 63, 18, 26, 27, 48, 57, 42, 53, 70, 43, 37, 46, 25, 37, 63, 54, 64, 28, 61, 29, 25, 48, 43, 61, 34, 25, 70, 32, 22, 33, 42, 61, 27, 67]
[70, 25, 69, 53, 67, 52, 61, 23, 32, 68, 67, 22, 43, 40, 60, 64, 41, 44, 55, 54, 53, 48, 37, 58, 45, 38, 25, 23, 52, 32, 35, 24, 58, 54, 47, 44, 67, 55, 51, 52, 64, 67, 19, 51, 23, 41, 43, 39, 32, 69, 30, 67, 54, 50, 46, 41, 23, 56, 43, 27, 26, 63, 18, 26, 27, 48, 57, 42, 53, 70, 43, 37, 46, 25, 37, 63, 54, 64, 28, 61, 29, 25, 48, 43, 61, 34, 25, 70, 32, 22, 33, 42, 61, 27, 67, 68]
[70, 25, 69, 53, 67, 52, 61, 23, 32, 68, 67, 22, 43, 40, 60, 64, 41, 44, 55, 54, 53, 48, 37, 58, 45, 38, 25, 23, 52, 32, 35, 24, 58, 54, 47, 44, 67, 55, 51, 52, 64, 67, 19, 51, 23, 41, 43, 39, 32, 69, 30, 67, 54, 50, 46, 41, 23, 56, 43, 27, 26, 63, 18, 26, 27, 48, 57, 42, 53, 70, 43, 37, 46, 25, 37, 63, 54, 64, 28, 61, 29, 25, 48, 43, 61, 34, 25, 70, 32, 22, 33, 42, 61, 27, 67, 68, 67]
[70, 25, 69, 53, 67, 52, 61, 23, 32, 68, 67, 22, 43, 40, 60, 64, 41, 44, 55, 54, 53, 48, 37, 58, 45, 38, 25, 23, 52, 32, 35, 24, 58, 54, 47, 44, 67, 55, 51, 52, 64, 67, 19, 51, 23, 41, 43, 39, 32, 69, 30, 67, 54, 50, 46, 41, 23, 56, 43, 27, 26, 63, 18, 26, 27, 48, 57, 42, 53, 70, 43, 37, 46, 25, 37, 63, 54, 64, 28, 61, 29, 25, 48, 43, 61, 34, 25, 70, 32, 22, 33, 42, 61, 27, 67, 68, 67, 25]
[70, 25, 69, 53, 67, 52, 61, 23, 32, 68, 67, 22, 43, 40, 60, 64, 41, 44, 55, 54, 53, 48, 37, 58, 45, 38, 25, 23, 52, 32, 35, 24, 58, 54, 47, 44, 67, 55, 51, 52, 64, 67, 19, 51, 23, 41, 43, 39, 32, 69, 30, 67, 54, 50, 46, 41, 23, 56, 43, 27, 26, 63, 18, 26, 27, 48, 57, 42, 53, 70, 43, 37, 46, 25, 37, 63, 54, 64, 28, 61, 29, 25, 48, 43, 61, 34, 25, 70, 32, 22, 33, 42, 61, 27, 67, 68, 67, 25, 57]

In [4]:
import pandas as pd ;

In [6]:
# Crea un FataFrame de pandas con los numeros aleatorios
df = pd.DataFrame(edades, columns=['Edad'])
df.head()

   Edad
0    70
1    25
2    69
3    53
4    67

In [7]:
# Calcullar la tabla de distribucion de frecuencias
tabla_frecuencias = df['Edad'].value_counts().reset_index()
tabla_frecuencias.columns = ['Edad', 'Frecuencia']
tabla_frecuencias = tabla_frecuencias.sort_values(by = 'Edad')

print("Tabla de Distribucion de Frecuencias")
tabla_frecuencias

Tabla de Distribucion de Frecuencias

    Edad  Frecuencia
39    18           1
35    19           1
16    22           2
3     23           4
21    24           2
1     25           6
25    26           2
13    27           3
40    28           1
41    29           1
38    30           1
4     32           4
43    33           1
42    34           1
29    35           1
12    37           3
31    38           1
37    39           1
32    40           1
10    41           3
22    42           2
2     43           5
27    44           2
30    45           1
26    46           2
28    47           1
9     48           3
34    50           1
20    51           2
8     52           3
11    53           3
6     54           4
19    55           2
36    56           1
23    57           2
18    58           2
33    60           1
5     61           4
24    63           2
14    64           3
0     67           7
17    68           2
15    69           2
7     70           3

In [13]:
tabla_frecuencias['Frec Relativa'] = tabla_frecuencias['Frecuencia'] /100
tabla_frecuencias

    Edad  Frecuencia  Frec Relativa
39    18           1           0.01
35    19           1           0.01
16    22           2           0.02
3     23           4           0.04
21    24           2           0.02
1     25           6           0.06
25    26           2           0.02
13    27           3           0.03
40    28           1           0.01
41    29           1           0.01
38    30           1           0.01
4     32           4           0.04
43    33           1           0.01
42    34           1           0.01
29    35           1           0.01
12    37           3           0.03
31    38           1           0.01
37    39           1           0.01
32    40           1           0.01
10    41           3           0.03
22    42           2           0.02
2     43           5           0.05
27    44           2           0.02
30    45           1           0.01
26    46           2           0.02
28    47           1           0.01
9     48           3           0.03
34    50           1           0.01
20    51           2           0.02
8     52           3           0.03
11    53           3           0.03
6     54           4           0.04
19    55           2           0.02
36    56           1           0.01
23    57           2           0.02
18    58           2           0.02
33    60           1           0.01
5     61           4           0.04
24    63           2           0.02
14    64           3           0.03
0     67           7           0.07
17    68           2           0.02
15    69           2           0.02
7     70           3           0.03

In [16]:
tabla_frecuencias['Frec Porcentual'] = tabla_frecuencias['Frecuencia']/100*100
tabla_frecuencias

    Edad  Frecuencia  Frec Relativa  Frec Acumulada  Frec Porcentual
39    18           1           0.01               1              1.0
35    19           1           0.01               2              1.0
16    22           2           0.02               4              2.0
3     23           4           0.04               8              4.0
21    24           2           0.02              10              2.0
1     25           6           0.06              16              6.0
25    26           2           0.02              18              2.0
13    27           3           0.03              21              3.0
40    28           1           0.01              22              1.0
41    29           1           0.01              23              1.0
38    30           1           0.01              24              1.0
4     32           4           0.04              28              4.0
43    33           1           0.01              29              1.0
42    34           1           0.01              30              1.0
29    35           1           0.01              31              1.0
12    37           3           0.03              34              3.0
31    38           1           0.01              35              1.0
37    39           1           0.01              36              1.0
32    40           1           0.01              37              1.0
10    41           3           0.03              40              3.0
22    42           2           0.02              42              2.0
2     43           5           0.05              47              5.0
27    44           2           0.02              49              2.0
30    45           1           0.01              50              1.0
26    46           2           0.02              52              2.0
28    47           1           0.01              53              1.0
9     48           3           0.03              56              3.0
34    50           1           0.01              57              1.0
20    51           2           0.02              59              2.0
8     52           3           0.03              62              3.0
11    53           3           0.03              65              3.0
6     54           4           0.04              69              4.0
19    55           2           0.02              71              2.0
36    56           1           0.01              72              1.0
23    57           2           0.02              74              2.0
18    58           2           0.02              76              2.0
33    60           1           0.01              77              1.0
5     61           4           0.04              81              4.0
24    63           2           0.02              83              2.0
14    64           3           0.03              86              3.0
0     67           7           0.07              93              7.0
17    68           2           0.02              95              2.0
15    69           2           0.02              97              2.0
7     70           3           0.03             100              3.0

In [15]:
tabla_frecuencias['Frec Acumulada'] = tabla_frecuencias['Frecuencia'].cumsum()
tabla_frecuencias

    Edad  Frecuencia  Frec Relativa  Frec Acumulada
39    18           1           0.01               1
35    19           1           0.01               2
16    22           2           0.02               4
3     23           4           0.04               8
21    24           2           0.02              10
1     25           6           0.06              16
25    26           2           0.02              18
13    27           3           0.03              21
40    28           1           0.01              22
41    29           1           0.01              23
38    30           1           0.01              24
4     32           4           0.04              28
43    33           1           0.01              29
42    34           1           0.01              30
29    35           1           0.01              31
12    37           3           0.03              34
31    38           1           0.01              35
37    39           1           0.01              36
32    40           1           0.01              37
10    41           3           0.03              40
22    42           2           0.02              42
2     43           5           0.05              47
27    44           2           0.02              49
30    45           1           0.01              50
26    46           2           0.02              52
28    47           1           0.01              53
9     48           3           0.03              56
34    50           1           0.01              57
20    51           2           0.02              59
8     52           3           0.03              62
11    53           3           0.03              65
6     54           4           0.04              69
19    55           2           0.02              71
36    56           1           0.01              72
23    57           2           0.02              74
18    58           2           0.02              76
33    60           1           0.01              77
5     61           4           0.04              81
24    63           2           0.02              83
14    64           3           0.03              86
0     67           7           0.07              93
17    68           2           0.02              95
15    69           2           0.02              97
7     70           3           0.03             100