<a href="https://colab.research.google.com/github/25041095-HDEZ/Probabilidad/blob/main/Unidad%201/PRO_U1_Pracrica3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Probabilidad y estadística**

## **Unidad 1**

### **Practica 3. Tabla de frecuencias y regla de Sturges**

### Docente: *Dr.José Gabriel Rodriguez Rivas*

### Luis Arturo Tovar Hernández

In [19]:
# Basado en el Libro de estadistica para administracion pagina 12
# Creamos una lista vacia que representa la edad de 100 personas
import random
edades = []
for i in range(100):
  numero_aleatorio = random.randint(18, 70)
  edades.append(numero_aleatorio)
  print(edades)

[59]
[59, 49]
[59, 49, 32]
[59, 49, 32, 25]
[59, 49, 32, 25, 30]
[59, 49, 32, 25, 30, 48]
[59, 49, 32, 25, 30, 48, 53]
[59, 49, 32, 25, 30, 48, 53, 55]
[59, 49, 32, 25, 30, 48, 53, 55, 35]
[59, 49, 32, 25, 30, 48, 53, 55, 35, 36]
[59, 49, 32, 25, 30, 48, 53, 55, 35, 36, 58]
[59, 49, 32, 25, 30, 48, 53, 55, 35, 36, 58, 47]
[59, 49, 32, 25, 30, 48, 53, 55, 35, 36, 58, 47, 37]
[59, 49, 32, 25, 30, 48, 53, 55, 35, 36, 58, 47, 37, 67]
[59, 49, 32, 25, 30, 48, 53, 55, 35, 36, 58, 47, 37, 67, 48]
[59, 49, 32, 25, 30, 48, 53, 55, 35, 36, 58, 47, 37, 67, 48, 32]
[59, 49, 32, 25, 30, 48, 53, 55, 35, 36, 58, 47, 37, 67, 48, 32, 35]
[59, 49, 32, 25, 30, 48, 53, 55, 35, 36, 58, 47, 37, 67, 48, 32, 35, 49]
[59, 49, 32, 25, 30, 48, 53, 55, 35, 36, 58, 47, 37, 67, 48, 32, 35, 49, 31]
[59, 49, 32, 25, 30, 48, 53, 55, 35, 36, 58, 47, 37, 67, 48, 32, 35, 49, 31, 63]
[59, 49, 32, 25, 30, 48, 53, 55, 35, 36, 58, 47, 37, 67, 48, 32, 35, 49, 31, 63, 58]
[59, 49, 32, 25, 30, 48, 53, 55, 35, 36, 58, 47, 37, 67, 48, 32, 35, 49, 31, 63, 58, 44]
[59, 49, 32, 25, 30, 48, 53, 55, 35, 36, 58, 47, 37, 67, 48, 32, 35, 49, 31, 63, 58, 44, 42]
[59, 49, 32, 25, 30, 48, 53, 55, 35, 36, 58, 47, 37, 67, 48, 32, 35, 49, 31, 63, 58, 44, 42, 36]
[59, 49, 32, 25, 30, 48, 53, 55, 35, 36, 58, 47, 37, 67, 48, 32, 35, 49, 31, 63, 58, 44, 42, 36, 68]
[59, 49, 32, 25, 30, 48, 53, 55, 35, 36, 58, 47, 37, 67, 48, 32, 35, 49, 31, 63, 58, 44, 42, 36, 68, 33]
[59, 49, 32, 25, 30, 48, 53, 55, 35, 36, 58, 47, 37, 67, 48, 32, 35, 49, 31, 63, 58, 44, 42, 36, 68, 33, 45]
[59, 49, 32, 25, 30, 48, 53, 55, 35, 36, 58, 47, 37, 67, 48, 32, 35, 49, 31, 63, 58, 44, 42, 36, 68, 33, 45, 57]
[59, 49, 32, 25, 30, 48, 53, 55, 35, 36, 58, 47, 37, 67, 48, 32, 35, 49, 31, 63, 58, 44, 42, 36, 68, 33, 45, 57, 57]
[59, 49, 32, 25, 30, 48, 53, 55, 35, 36, 58, 47, 37, 67, 48, 32, 35, 49, 31, 63, 58, 44, 42, 36, 68, 33, 45, 57, 57, 66]
[59, 49, 32, 25, 30, 48, 53, 55, 35, 36, 58, 47, 37, 67, 48, 32, 35, 49, 31, 63, 58, 44, 42, 36, 68, 33, 45, 57, 57, 66, 40]
[59, 49, 32, 25, 30, 48, 53, 55, 35, 36, 58, 47, 37, 67, 48, 32, 35, 49, 31, 63, 58, 44, 42, 36, 68, 33, 45, 57, 57, 66, 40, 23]
[59, 49, 32, 25, 30, 48, 53, 55, 35, 36, 58, 47, 37, 67, 48, 32, 35, 49, 31, 63, 58, 44, 42, 36, 68, 33, 45, 57, 57, 66, 40, 23, 68]
[59, 49, 32, 25, 30, 48, 53, 55, 35, 36, 58, 47, 37, 67, 48, 32, 35, 49, 31, 63, 58, 44, 42, 36, 68, 33, 45, 57, 57, 66, 40, 23, 68, 58]
[59, 49, 32, 25, 30, 48, 53, 55, 35, 36, 58, 47, 37, 67, 48, 32, 35, 49, 31, 63, 58, 44, 42, 36, 68, 33, 45, 57, 57, 66, 40, 23, 68, 58, 55]
[59, 49, 32, 25, 30, 48, 53, 55, 35, 36, 58, 47, 37, 67, 48, 32, 35, 49, 31, 63, 58, 44, 42, 36, 68, 33, 45, 57, 57, 66, 40, 23, 68, 58, 55, 25]
[59, 49, 32, 25, 30, 48, 53, 55, 35, 36, 58, 47, 37, 67, 48, 32, 35, 49, 31, 63, 58, 44, 42, 36, 68, 33, 45, 57, 57, 66, 40, 23, 68, 58, 55, 25, 66]
[59, 49, 32, 25, 30, 48, 53, 55, 35, 36, 58, 47, 37, 67, 48, 32, 35, 49, 31, 63, 58, 44, 42, 36, 68, 33, 45, 57, 57, 66, 40, 23, 68, 58, 55, 25, 66, 19]
[59, 49, 32, 25, 30, 48, 53, 55, 35, 36, 58, 47, 37, 67, 48, 32, 35, 49, 31, 63, 58, 44, 42, 36, 68, 33, 45, 57, 57, 66, 40, 23, 68, 58, 55, 25, 66, 19, 20]
[59, 49, 32, 25, 30, 48, 53, 55, 35, 36, 58, 47, 37, 67, 48, 32, 35, 49, 31, 63, 58, 44, 42, 36, 68, 33, 45, 57, 57, 66, 40, 23, 68, 58, 55, 25, 66, 19, 20, 46]
[59, 49, 32, 25, 30, 48, 53, 55, 35, 36, 58, 47, 37, 67, 48, 32, 35, 49, 31, 63, 58, 44, 42, 36, 68, 33, 45, 57, 57, 66, 40, 23, 68, 58, 55, 25, 66, 19, 20, 46, 29]
[59, 49, 32, 25, 30, 48, 53, 55, 35, 36, 58, 47, 37, 67, 48, 32, 35, 49, 31, 63, 58, 44, 42, 36, 68, 33, 45, 57, 57, 66, 40, 23, 68, 58, 55, 25, 66, 19, 20, 46, 29, 49]
[59, 49, 32, 25, 30, 48, 53, 55, 35, 36, 58, 47, 37, 67, 48, 32, 35, 49, 31, 63, 58, 44, 42, 36, 68, 33, 45, 57, 57, 66, 40, 23, 68, 58, 55, 25, 66, 19, 20, 46, 29, 49, 61]
[59, 49, 32, 25, 30, 48, 53, 55, 35, 36, 58, 47, 37, 67, 48, 32, 35, 49, 31, 63, 58, 44, 42, 36, 68, 33, 45, 57, 57, 66, 40, 23, 68, 58, 55, 25, 66, 19, 20, 46, 29, 49, 61, 26]
[59, 49, 32, 25, 30, 48, 53, 55, 35, 36, 58, 47, 37, 67, 48, 32, 35, 49, 31, 63, 58, 44, 42, 36, 68, 33, 45, 57, 57, 66, 40, 23, 68, 58, 55, 25, 66, 19, 20, 46, 29, 49, 61, 26, 24]
[59, 49, 32, 25, 30, 48, 53, 55, 35, 36, 58, 47, 37, 67, 48, 32, 35, 49, 31, 63, 58, 44, 42, 36, 68, 33, 45, 57, 57, 66, 40, 23, 68, 58, 55, 25, 66, 19, 20, 46, 29, 49, 61, 26, 24, 29]
[59, 49, 32, 25, 30, 48, 53, 55, 35, 36, 58, 47, 37, 67, 48, 32, 35, 49, 31, 63, 58, 44, 42, 36, 68, 33, 45, 57, 57, 66, 40, 23, 68, 58, 55, 25, 66, 19, 20, 46, 29, 49, 61, 26, 24, 29, 37]
[59, 49, 32, 25, 30, 48, 53, 55, 35, 36, 58, 47, 37, 67, 48, 32, 35, 49, 31, 63, 58, 44, 42, 36, 68, 33, 45, 57, 57, 66, 40, 23, 68, 58, 55, 25, 66, 19, 20, 46, 29, 49, 61, 26, 24, 29, 37, 18]
[59, 49, 32, 25, 30, 48, 53, 55, 35, 36, 58, 47, 37, 67, 48, 32, 35, 49, 31, 63, 58, 44, 42, 36, 68, 33, 45, 57, 57, 66, 40, 23, 68, 58, 55, 25, 66, 19, 20, 46, 29, 49, 61, 26, 24, 29, 37, 18, 40]
[59, 49, 32, 25, 30, 48, 53, 55, 35, 36, 58, 47, 37, 67, 48, 32, 35, 49, 31, 63, 58, 44, 42, 36, 68, 33, 45, 57, 57, 66, 40, 23, 68, 58, 55, 25, 66, 19, 20, 46, 29, 49, 61, 26, 24, 29, 37, 18, 40, 53]
[59, 49, 32, 25, 30, 48, 53, 55, 35, 36, 58, 47, 37, 67, 48, 32, 35, 49, 31, 63, 58, 44, 42, 36, 68, 33, 45, 57, 57, 66, 40, 23, 68, 58, 55, 25, 66, 19, 20, 46, 29, 49, 61, 26, 24, 29, 37, 18, 40, 53, 59]
[59, 49, 32, 25, 30, 48, 53, 55, 35, 36, 58, 47, 37, 67, 48, 32, 35, 49, 31, 63, 58, 44, 42, 36, 68, 33, 45, 57, 57, 66, 40, 23, 68, 58, 55, 25, 66, 19, 20, 46, 29, 49, 61, 26, 24, 29, 37, 18, 40, 53, 59, 63]
[59, 49, 32, 25, 30, 48, 53, 55, 35, 36, 58, 47, 37, 67, 48, 32, 35, 49, 31, 63, 58, 44, 42, 36, 68, 33, 45, 57, 57, 66, 40, 23, 68, 58, 55, 25, 66, 19, 20, 46, 29, 49, 61, 26, 24, 29, 37, 18, 40, 53, 59, 63, 32]
[59, 49, 32, 25, 30, 48, 53, 55, 35, 36, 58, 47, 37, 67, 48, 32, 35, 49, 31, 63, 58, 44, 42, 36, 68, 33, 45, 57, 57, 66, 40, 23, 68, 58, 55, 25, 66, 19, 20, 46, 29, 49, 61, 26, 24, 29, 37, 18, 40, 53, 59, 63, 32, 31]
[59, 49, 32, 25, 30, 48, 53, 55, 35, 36, 58, 47, 37, 67, 48, 32, 35, 49, 31, 63, 58, 44, 42, 36, 68, 33, 45, 57, 57, 66, 40, 23, 68, 58, 55, 25, 66, 19, 20, 46, 29, 49, 61, 26, 24, 29, 37, 18, 40, 53, 59, 63, 32, 31, 21]
[59, 49, 32, 25, 30, 48, 53, 55, 35, 36, 58, 47, 37, 67, 48, 32, 35, 49, 31, 63, 58, 44, 42, 36, 68, 33, 45, 57, 57, 66, 40, 23, 68, 58, 55, 25, 66, 19, 20, 46, 29, 49, 61, 26, 24, 29, 37, 18, 40, 53, 59, 63, 32, 31, 21, 70]
[59, 49, 32, 25, 30, 48, 53, 55, 35, 36, 58, 47, 37, 67, 48, 32, 35, 49, 31, 63, 58, 44, 42, 36, 68, 33, 45, 57, 57, 66, 40, 23, 68, 58, 55, 25, 66, 19, 20, 46, 29, 49, 61, 26, 24, 29, 37, 18, 40, 53, 59, 63, 32, 31, 21, 70, 36]
[59, 49, 32, 25, 30, 48, 53, 55, 35, 36, 58, 47, 37, 67, 48, 32, 35, 49, 31, 63, 58, 44, 42, 36, 68, 33, 45, 57, 57, 66, 40, 23, 68, 58, 55, 25, 66, 19, 20, 46, 29, 49, 61, 26, 24, 29, 37, 18, 40, 53, 59, 63, 32, 31, 21, 70, 36, 34]
[59, 49, 32, 25, 30, 48, 53, 55, 35, 36, 58, 47, 37, 67, 48, 32, 35, 49, 31, 63, 58, 44, 42, 36, 68, 33, 45, 57, 57, 66, 40, 23, 68, 58, 55, 25, 66, 19, 20, 46, 29, 49, 61, 26, 24, 29, 37, 18, 40, 53, 59, 63, 32, 31, 21, 70, 36, 34, 21]
[59, 49, 32, 25, 30, 48, 53, 55, 35, 36, 58, 47, 37, 67, 48, 32, 35, 49, 31, 63, 58, 44, 42, 36, 68, 33, 45, 57, 57, 66, 40, 23, 68, 58, 55, 25, 66, 19, 20, 46, 29, 49, 61, 26, 24, 29, 37, 18, 40, 53, 59, 63, 32, 31, 21, 70, 36, 34, 21, 37]
[59, 49, 32, 25, 30, 48, 53, 55, 35, 36, 58, 47, 37, 67, 48, 32, 35, 49, 31, 63, 58, 44, 42, 36, 68, 33, 45, 57, 57, 66, 40, 23, 68, 58, 55, 25, 66, 19, 20, 46, 29, 49, 61, 26, 24, 29, 37, 18, 40, 53, 59, 63, 32, 31, 21, 70, 36, 34, 21, 37, 54]
[59, 49, 32, 25, 30, 48, 53, 55, 35, 36, 58, 47, 37, 67, 48, 32, 35, 49, 31, 63, 58, 44, 42, 36, 68, 33, 45, 57, 57, 66, 40, 23, 68, 58, 55, 25, 66, 19, 20, 46, 29, 49, 61, 26, 24, 29, 37, 18, 40, 53, 59, 63, 32, 31, 21, 70, 36, 34, 21, 37, 54, 68]
[59, 49, 32, 25, 30, 48, 53, 55, 35, 36, 58, 47, 37, 67, 48, 32, 35, 49, 31, 63, 58, 44, 42, 36, 68, 33, 45, 57, 57, 66, 40, 23, 68, 58, 55, 25, 66, 19, 20, 46, 29, 49, 61, 26, 24, 29, 37, 18, 40, 53, 59, 63, 32, 31, 21, 70, 36, 34, 21, 37, 54, 68, 49]
[59, 49, 32, 25, 30, 48, 53, 55, 35, 36, 58, 47, 37, 67, 48, 32, 35, 49, 31, 63, 58, 44, 42, 36, 68, 33, 45, 57, 57, 66, 40, 23, 68, 58, 55, 25, 66, 19, 20, 46, 29, 49, 61, 26, 24, 29, 37, 18, 40, 53, 59, 63, 32, 31, 21, 70, 36, 34, 21, 37, 54, 68, 49, 54]
[59, 49, 32, 25, 30, 48, 53, 55, 35, 36, 58, 47, 37, 67, 48, 32, 35, 49, 31, 63, 58, 44, 42, 36, 68, 33, 45, 57, 57, 66, 40, 23, 68, 58, 55, 25, 66, 19, 20, 46, 29, 49, 61, 26, 24, 29, 37, 18, 40, 53, 59, 63, 32, 31, 21, 70, 36, 34, 21, 37, 54, 68, 49, 54, 65]
[59, 49, 32, 25, 30, 48, 53, 55, 35, 36, 58, 47, 37, 67, 48, 32, 35, 49, 31, 63, 58, 44, 42, 36, 68, 33, 45, 57, 57, 66, 40, 23, 68, 58, 55, 25, 66, 19, 20, 46, 29, 49, 61, 26, 24, 29, 37, 18, 40, 53, 59, 63, 32, 31, 21, 70, 36, 34, 21, 37, 54, 68, 49, 54, 65, 30]
[59, 49, 32, 25, 30, 48, 53, 55, 35, 36, 58, 47, 37, 67, 48, 32, 35, 49, 31, 63, 58, 44, 42, 36, 68, 33, 45, 57, 57, 66, 40, 23, 68, 58, 55, 25, 66, 19, 20, 46, 29, 49, 61, 26, 24, 29, 37, 18, 40, 53, 59, 63, 32, 31, 21, 70, 36, 34, 21, 37, 54, 68, 49, 54, 65, 30, 44]
[59, 49, 32, 25, 30, 48, 53, 55, 35, 36, 58, 47, 37, 67, 48, 32, 35, 49, 31, 63, 58, 44, 42, 36, 68, 33, 45, 57, 57, 66, 40, 23, 68, 58, 55, 25, 66, 19, 20, 46, 29, 49, 61, 26, 24, 29, 37, 18, 40, 53, 59, 63, 32, 31, 21, 70, 36, 34, 21, 37, 54, 68, 49, 54, 65, 30, 44, 24]
[59, 49, 32, 25, 30, 48, 53, 55, 35, 36, 58, 47, 37, 67, 48, 32, 35, 49, 31, 63, 58, 44, 42, 36, 68, 33, 45, 57, 57, 66, 40, 23, 68, 58, 55, 25, 66, 19, 20, 46, 29, 49, 61, 26, 24, 29, 37, 18, 40, 53, 59, 63, 32, 31, 21, 70, 36, 34, 21, 37, 54, 68, 49, 54, 65, 30, 44, 24, 37]
[59, 49, 32, 25, 30, 48, 53, 55, 35, 36, 58, 47, 37, 67, 48, 32, 35, 49, 31, 63, 58, 44, 42, 36, 68, 33, 45, 57, 57, 66, 40, 23, 68, 58, 55, 25, 66, 19, 20, 46, 29, 49, 61, 26, 24, 29, 37, 18, 40, 53, 59, 63, 32, 31, 21, 70, 36, 34, 21, 37, 54, 68, 49, 54, 65, 30, 44, 24, 37, 56]
[59, 49, 32, 25, 30, 48, 53, 55, 35, 36, 58, 47, 37, 67, 48, 32, 35, 49, 31, 63, 58, 44, 42, 36, 68, 33, 45, 57, 57, 66, 40, 23, 68, 58, 55, 25, 66, 19, 20, 46, 29, 49, 61, 26, 24, 29, 37, 18, 40, 53, 59, 63, 32, 31, 21, 70, 36, 34, 21, 37, 54, 68, 49, 54, 65, 30, 44, 24, 37, 56, 60]
[59, 49, 32, 25, 30, 48, 53, 55, 35, 36, 58, 47, 37, 67, 48, 32, 35, 49, 31, 63, 58, 44, 42, 36, 68, 33, 45, 57, 57, 66, 40, 23, 68, 58, 55, 25, 66, 19, 20, 46, 29, 49, 61, 26, 24, 29, 37, 18, 40, 53, 59, 63, 32, 31, 21, 70, 36, 34, 21, 37, 54, 68, 49, 54, 65, 30, 44, 24, 37, 56, 60, 22]
[59, 49, 32, 25, 30, 48, 53, 55, 35, 36, 58, 47, 37, 67, 48, 32, 35, 49, 31, 63, 58, 44, 42, 36, 68, 33, 45, 57, 57, 66, 40, 23, 68, 58, 55, 25, 66, 19, 20, 46, 29, 49, 61, 26, 24, 29, 37, 18, 40, 53, 59, 63, 32, 31, 21, 70, 36, 34, 21, 37, 54, 68, 49, 54, 65, 30, 44, 24, 37, 56, 60, 22, 31]
[59, 49, 32, 25, 30, 48, 53, 55, 35, 36, 58, 47, 37, 67, 48, 32, 35, 49, 31, 63, 58, 44, 42, 36, 68, 33, 45, 57, 57, 66, 40, 23, 68, 58, 55, 25, 66, 19, 20, 46, 29, 49, 61, 26, 24, 29, 37, 18, 40, 53, 59, 63, 32, 31, 21, 70, 36, 34, 21, 37, 54, 68, 49, 54, 65, 30, 44, 24, 37, 56, 60, 22, 31, 52]
[59, 49, 32, 25, 30, 48, 53, 55, 35, 36, 58, 47, 37, 67, 48, 32, 35, 49, 31, 63, 58, 44, 42, 36, 68, 33, 45, 57, 57, 66, 40, 23, 68, 58, 55, 25, 66, 19, 20, 46, 29, 49, 61, 26, 24, 29, 37, 18, 40, 53, 59, 63, 32, 31, 21, 70, 36, 34, 21, 37, 54, 68, 49, 54, 65, 30, 44, 24, 37, 56, 60, 22, 31, 52, 62]
[59, 49, 32, 25, 30, 48, 53, 55, 35, 36, 58, 47, 37, 67, 48, 32, 35, 49, 31, 63, 58, 44, 42, 36, 68, 33, 45, 57, 57, 66, 40, 23, 68, 58, 55, 25, 66, 19, 20, 46, 29, 49, 61, 26, 24, 29, 37, 18, 40, 53, 59, 63, 32, 31, 21, 70, 36, 34, 21, 37, 54, 68, 49, 54, 65, 30, 44, 24, 37, 56, 60, 22, 31, 52, 62, 18]
[59, 49, 32, 25, 30, 48, 53, 55, 35, 36, 58, 47, 37, 67, 48, 32, 35, 49, 31, 63, 58, 44, 42, 36, 68, 33, 45, 57, 57, 66, 40, 23, 68, 58, 55, 25, 66, 19, 20, 46, 29, 49, 61, 26, 24, 29, 37, 18, 40, 53, 59, 63, 32, 31, 21, 70, 36, 34, 21, 37, 54, 68, 49, 54, 65, 30, 44, 24, 37, 56, 60, 22, 31, 52, 62, 18, 31]
[59, 49, 32, 25, 30, 48, 53, 55, 35, 36, 58, 47, 37, 67, 48, 32, 35, 49, 31, 63, 58, 44, 42, 36, 68, 33, 45, 57, 57, 66, 40, 23, 68, 58, 55, 25, 66, 19, 20, 46, 29, 49, 61, 26, 24, 29, 37, 18, 40, 53, 59, 63, 32, 31, 21, 70, 36, 34, 21, 37, 54, 68, 49, 54, 65, 30, 44, 24, 37, 56, 60, 22, 31, 52, 62, 18, 31, 52]
[59, 49, 32, 25, 30, 48, 53, 55, 35, 36, 58, 47, 37, 67, 48, 32, 35, 49, 31, 63, 58, 44, 42, 36, 68, 33, 45, 57, 57, 66, 40, 23, 68, 58, 55, 25, 66, 19, 20, 46, 29, 49, 61, 26, 24, 29, 37, 18, 40, 53, 59, 63, 32, 31, 21, 70, 36, 34, 21, 37, 54, 68, 49, 54, 65, 30, 44, 24, 37, 56, 60, 22, 31, 52, 62, 18, 31, 52, 53]
[59, 49, 32, 25, 30, 48, 53, 55, 35, 36, 58, 47, 37, 67, 48, 32, 35, 49, 31, 63, 58, 44, 42, 36, 68, 33, 45, 57, 57, 66, 40, 23, 68, 58, 55, 25, 66, 19, 20, 46, 29, 49, 61, 26, 24, 29, 37, 18, 40, 53, 59, 63, 32, 31, 21, 70, 36, 34, 21, 37, 54, 68, 49, 54, 65, 30, 44, 24, 37, 56, 60, 22, 31, 52, 62, 18, 31, 52, 53, 39]
[59, 49, 32, 25, 30, 48, 53, 55, 35, 36, 58, 47, 37, 67, 48, 32, 35, 49, 31, 63, 58, 44, 42, 36, 68, 33, 45, 57, 57, 66, 40, 23, 68, 58, 55, 25, 66, 19, 20, 46, 29, 49, 61, 26, 24, 29, 37, 18, 40, 53, 59, 63, 32, 31, 21, 70, 36, 34, 21, 37, 54, 68, 49, 54, 65, 30, 44, 24, 37, 56, 60, 22, 31, 52, 62, 18, 31, 52, 53, 39, 50]
[59, 49, 32, 25, 30, 48, 53, 55, 35, 36, 58, 47, 37, 67, 48, 32, 35, 49, 31, 63, 58, 44, 42, 36, 68, 33, 45, 57, 57, 66, 40, 23, 68, 58, 55, 25, 66, 19, 20, 46, 29, 49, 61, 26, 24, 29, 37, 18, 40, 53, 59, 63, 32, 31, 21, 70, 36, 34, 21, 37, 54, 68, 49, 54, 65, 30, 44, 24, 37, 56, 60, 22, 31, 52, 62, 18, 31, 52, 53, 39, 50, 63]
[59, 49, 32, 25, 30, 48, 53, 55, 35, 36, 58, 47, 37, 67, 48, 32, 35, 49, 31, 63, 58, 44, 42, 36, 68, 33, 45, 57, 57, 66, 40, 23, 68, 58, 55, 25, 66, 19, 20, 46, 29, 49, 61, 26, 24, 29, 37, 18, 40, 53, 59, 63, 32, 31, 21, 70, 36, 34, 21, 37, 54, 68, 49, 54, 65, 30, 44, 24, 37, 56, 60, 22, 31, 52, 62, 18, 31, 52, 53, 39, 50, 63, 68]
[59, 49, 32, 25, 30, 48, 53, 55, 35, 36, 58, 47, 37, 67, 48, 32, 35, 49, 31, 63, 58, 44, 42, 36, 68, 33, 45, 57, 57, 66, 40, 23, 68, 58, 55, 25, 66, 19, 20, 46, 29, 49, 61, 26, 24, 29, 37, 18, 40, 53, 59, 63, 32, 31, 21, 70, 36, 34, 21, 37, 54, 68, 49, 54, 65, 30, 44, 24, 37, 56, 60, 22, 31, 52, 62, 18, 31, 52, 53, 39, 50, 63, 68, 40]
[59, 49, 32, 25, 30, 48, 53, 55, 35, 36, 58, 47, 37, 67, 48, 32, 35, 49, 31, 63, 58, 44, 42, 36, 68, 33, 45, 57, 57, 66, 40, 23, 68, 58, 55, 25, 66, 19, 20, 46, 29, 49, 61, 26, 24, 29, 37, 18, 40, 53, 59, 63, 32, 31, 21, 70, 36, 34, 21, 37, 54, 68, 49, 54, 65, 30, 44, 24, 37, 56, 60, 22, 31, 52, 62, 18, 31, 52, 53, 39, 50, 63, 68, 40, 68]
[59, 49, 32, 25, 30, 48, 53, 55, 35, 36, 58, 47, 37, 67, 48, 32, 35, 49, 31, 63, 58, 44, 42, 36, 68, 33, 45, 57, 57, 66, 40, 23, 68, 58, 55, 25, 66, 19, 20, 46, 29, 49, 61, 26, 24, 29, 37, 18, 40, 53, 59, 63, 32, 31, 21, 70, 36, 34, 21, 37, 54, 68, 49, 54, 65, 30, 44, 24, 37, 56, 60, 22, 31, 52, 62, 18, 31, 52, 53, 39, 50, 63, 68, 40, 68, 69]
[59, 49, 32, 25, 30, 48, 53, 55, 35, 36, 58, 47, 37, 67, 48, 32, 35, 49, 31, 63, 58, 44, 42, 36, 68, 33, 45, 57, 57, 66, 40, 23, 68, 58, 55, 25, 66, 19, 20, 46, 29, 49, 61, 26, 24, 29, 37, 18, 40, 53, 59, 63, 32, 31, 21, 70, 36, 34, 21, 37, 54, 68, 49, 54, 65, 30, 44, 24, 37, 56, 60, 22, 31, 52, 62, 18, 31, 52, 53, 39, 50, 63, 68, 40, 68, 69, 50]
[59, 49, 32, 25, 30, 48, 53, 55, 35, 36, 58, 47, 37, 67, 48, 32, 35, 49, 31, 63, 58, 44, 42, 36, 68, 33, 45, 57, 57, 66, 40, 23, 68, 58, 55, 25, 66, 19, 20, 46, 29, 49, 61, 26, 24, 29, 37, 18, 40, 53, 59, 63, 32, 31, 21, 70, 36, 34, 21, 37, 54, 68, 49, 54, 65, 30, 44, 24, 37, 56, 60, 22, 31, 52, 62, 18, 31, 52, 53, 39, 50, 63, 68, 40, 68, 69, 50, 55]
[59, 49, 32, 25, 30, 48, 53, 55, 35, 36, 58, 47, 37, 67, 48, 32, 35, 49, 31, 63, 58, 44, 42, 36, 68, 33, 45, 57, 57, 66, 40, 23, 68, 58, 55, 25, 66, 19, 20, 46, 29, 49, 61, 26, 24, 29, 37, 18, 40, 53, 59, 63, 32, 31, 21, 70, 36, 34, 21, 37, 54, 68, 49, 54, 65, 30, 44, 24, 37, 56, 60, 22, 31, 52, 62, 18, 31, 52, 53, 39, 50, 63, 68, 40, 68, 69, 50, 55, 35]
[59, 49, 32, 25, 30, 48, 53, 55, 35, 36, 58, 47, 37, 67, 48, 32, 35, 49, 31, 63, 58, 44, 42, 36, 68, 33, 45, 57, 57, 66, 40, 23, 68, 58, 55, 25, 66, 19, 20, 46, 29, 49, 61, 26, 24, 29, 37, 18, 40, 53, 59, 63, 32, 31, 21, 70, 36, 34, 21, 37, 54, 68, 49, 54, 65, 30, 44, 24, 37, 56, 60, 22, 31, 52, 62, 18, 31, 52, 53, 39, 50, 63, 68, 40, 68, 69, 50, 55, 35, 64]
[59, 49, 32, 25, 30, 48, 53, 55, 35, 36, 58, 47, 37, 67, 48, 32, 35, 49, 31, 63, 58, 44, 42, 36, 68, 33, 45, 57, 57, 66, 40, 23, 68, 58, 55, 25, 66, 19, 20, 46, 29, 49, 61, 26, 24, 29, 37, 18, 40, 53, 59, 63, 32, 31, 21, 70, 36, 34, 21, 37, 54, 68, 49, 54, 65, 30, 44, 24, 37, 56, 60, 22, 31, 52, 62, 18, 31, 52, 53, 39, 50, 63, 68, 40, 68, 69, 50, 55, 35, 64, 27]
[59, 49, 32, 25, 30, 48, 53, 55, 35, 36, 58, 47, 37, 67, 48, 32, 35, 49, 31, 63, 58, 44, 42, 36, 68, 33, 45, 57, 57, 66, 40, 23, 68, 58, 55, 25, 66, 19, 20, 46, 29, 49, 61, 26, 24, 29, 37, 18, 40, 53, 59, 63, 32, 31, 21, 70, 36, 34, 21, 37, 54, 68, 49, 54, 65, 30, 44, 24, 37, 56, 60, 22, 31, 52, 62, 18, 31, 52, 53, 39, 50, 63, 68, 40, 68, 69, 50, 55, 35, 64, 27, 36]
[59, 49, 32, 25, 30, 48, 53, 55, 35, 36, 58, 47, 37, 67, 48, 32, 35, 49, 31, 63, 58, 44, 42, 36, 68, 33, 45, 57, 57, 66, 40, 23, 68, 58, 55, 25, 66, 19, 20, 46, 29, 49, 61, 26, 24, 29, 37, 18, 40, 53, 59, 63, 32, 31, 21, 70, 36, 34, 21, 37, 54, 68, 49, 54, 65, 30, 44, 24, 37, 56, 60, 22, 31, 52, 62, 18, 31, 52, 53, 39, 50, 63, 68, 40, 68, 69, 50, 55, 35, 64, 27, 36, 64]
[59, 49, 32, 25, 30, 48, 53, 55, 35, 36, 58, 47, 37, 67, 48, 32, 35, 49, 31, 63, 58, 44, 42, 36, 68, 33, 45, 57, 57, 66, 40, 23, 68, 58, 55, 25, 66, 19, 20, 46, 29, 49, 61, 26, 24, 29, 37, 18, 40, 53, 59, 63, 32, 31, 21, 70, 36, 34, 21, 37, 54, 68, 49, 54, 65, 30, 44, 24, 37, 56, 60, 22, 31, 52, 62, 18, 31, 52, 53, 39, 50, 63, 68, 40, 68, 69, 50, 55, 35, 64, 27, 36, 64, 51]
[59, 49, 32, 25, 30, 48, 53, 55, 35, 36, 58, 47, 37, 67, 48, 32, 35, 49, 31, 63, 58, 44, 42, 36, 68, 33, 45, 57, 57, 66, 40, 23, 68, 58, 55, 25, 66, 19, 20, 46, 29, 49, 61, 26, 24, 29, 37, 18, 40, 53, 59, 63, 32, 31, 21, 70, 36, 34, 21, 37, 54, 68, 49, 54, 65, 30, 44, 24, 37, 56, 60, 22, 31, 52, 62, 18, 31, 52, 53, 39, 50, 63, 68, 40, 68, 69, 50, 55, 35, 64, 27, 36, 64, 51, 56]
[59, 49, 32, 25, 30, 48, 53, 55, 35, 36, 58, 47, 37, 67, 48, 32, 35, 49, 31, 63, 58, 44, 42, 36, 68, 33, 45, 57, 57, 66, 40, 23, 68, 58, 55, 25, 66, 19, 20, 46, 29, 49, 61, 26, 24, 29, 37, 18, 40, 53, 59, 63, 32, 31, 21, 70, 36, 34, 21, 37, 54, 68, 49, 54, 65, 30, 44, 24, 37, 56, 60, 22, 31, 52, 62, 18, 31, 52, 53, 39, 50, 63, 68, 40, 68, 69, 50, 55, 35, 64, 27, 36, 64, 51, 56, 44]
[59, 49, 32, 25, 30, 48, 53, 55, 35, 36, 58, 47, 37, 67, 48, 32, 35, 49, 31, 63, 58, 44, 42, 36, 68, 33, 45, 57, 57, 66, 40, 23, 68, 58, 55, 25, 66, 19, 20, 46, 29, 49, 61, 26, 24, 29, 37, 18, 40, 53, 59, 63, 32, 31, 21, 70, 36, 34, 21, 37, 54, 68, 49, 54, 65, 30, 44, 24, 37, 56, 60, 22, 31, 52, 62, 18, 31, 52, 53, 39, 50, 63, 68, 40, 68, 69, 50, 55, 35, 64, 27, 36, 64, 51, 56, 44, 55]
[59, 49, 32, 25, 30, 48, 53, 55, 35, 36, 58, 47, 37, 67, 48, 32, 35, 49, 31, 63, 58, 44, 42, 36, 68, 33, 45, 57, 57, 66, 40, 23, 68, 58, 55, 25, 66, 19, 20, 46, 29, 49, 61, 26, 24, 29, 37, 18, 40, 53, 59, 63, 32, 31, 21, 70, 36, 34, 21, 37, 54, 68, 49, 54, 65, 30, 44, 24, 37, 56, 60, 22, 31, 52, 62, 18, 31, 52, 53, 39, 50, 63, 68, 40, 68, 69, 50, 55, 35, 64, 27, 36, 64, 51, 56, 44, 55, 33]
[59, 49, 32, 25, 30, 48, 53, 55, 35, 36, 58, 47, 37, 67, 48, 32, 35, 49, 31, 63, 58, 44, 42, 36, 68, 33, 45, 57, 57, 66, 40, 23, 68, 58, 55, 25, 66, 19, 20, 46, 29, 49, 61, 26, 24, 29, 37, 18, 40, 53, 59, 63, 32, 31, 21, 70, 36, 34, 21, 37, 54, 68, 49, 54, 65, 30, 44, 24, 37, 56, 60, 22, 31, 52, 62, 18, 31, 52, 53, 39, 50, 63, 68, 40, 68, 69, 50, 55, 35, 64, 27, 36, 64, 51, 56, 44, 55, 33, 29]

In [20]:
import pandas as pd ;

In [21]:
# Crea un FataFrame de pandas con los numeros aleatorios
df = pd.DataFrame(edades, columns=['Edad'])
df.head()

   Edad
0    59
1    49
2    32
3    25
4    30

In [22]:
# Calcular la tabla de distribucion de frecuencias
tabla_frecuencias = df['Edad'].value_counts().reset_index()
tabla_frecuencias.columns = ['Edad', 'Frecuencia']
tabla_frecuencias = tabla_frecuencias.sort_values(by = 'Edad')

print("Tabla de Distribucion de Frecuencias")
tabla_frecuencias

Tabla de Distribucion de Frecuencias

    Edad  Frecuencia
23    18           2
37    19           1
35    20           1
26    21           2
41    22           1
31    23           1
22    24           2
19    25           2
34    26           1
47    27           1
14    29           3
7     30           3
1     31           4
12    32           3
24    33           2
39    34           1
8     35           3
4     36           4
3     37           4
45    39           1
13    40           3
38    42           1
6     44           3
32    45           1
36    46           1
30    47           1
15    48           2
5     49           4
28    50           2
48    51           1
17    52           2
9     53           3
25    54           2
2     55           4
18    56           2
20    57           2
11    58           3
16    59           2
42    60           1
33    61           1
44    62           1
10    63           3
27    64           2
43    65           1
21    66           2
29    67           1
0     68           5
46    69           1
40    70           1

Calcular la frecuencia relativa

In [23]:
tabla_frecuencias['Frec Relativa'] = tabla_frecuencias['Frecuencia'] /100
tabla_frecuencias

    Edad  Frecuencia  Frec Relativa
23    18           2           0.02
37    19           1           0.01
35    20           1           0.01
26    21           2           0.02
41    22           1           0.01
31    23           1           0.01
22    24           2           0.02
19    25           2           0.02
34    26           1           0.01
47    27           1           0.01
14    29           3           0.03
7     30           3           0.03
1     31           4           0.04
12    32           3           0.03
24    33           2           0.02
39    34           1           0.01
8     35           3           0.03
4     36           4           0.04
3     37           4           0.04
45    39           1           0.01
13    40           3           0.03
38    42           1           0.01
6     44           3           0.03
32    45           1           0.01
36    46           1           0.01
30    47           1           0.01
15    48           2           0.02
5     49           4           0.04
28    50           2           0.02
48    51           1           0.01
17    52           2           0.02
9     53           3           0.03
25    54           2           0.02
2     55           4           0.04
18    56           2           0.02
20    57           2           0.02
11    58           3           0.03
16    59           2           0.02
42    60           1           0.01
33    61           1           0.01
44    62           1           0.01
10    63           3           0.03
27    64           2           0.02
43    65           1           0.01
21    66           2           0.02
29    67           1           0.01
0     68           5           0.05
46    69           1           0.01
40    70           1           0.01

Calcular la frecuencia porcentual

In [24]:
tabla_frecuencias['Frec Porcentual'] = tabla_frecuencias['Frecuencia']/100*100
tabla_frecuencias

    Edad  Frecuencia  Frec Relativa  Frec Porcentual
23    18           2           0.02              2.0
37    19           1           0.01              1.0
35    20           1           0.01              1.0
26    21           2           0.02              2.0
41    22           1           0.01              1.0
31    23           1           0.01              1.0
22    24           2           0.02              2.0
19    25           2           0.02              2.0
34    26           1           0.01              1.0
47    27           1           0.01              1.0
14    29           3           0.03              3.0
7     30           3           0.03              3.0
1     31           4           0.04              4.0
12    32           3           0.03              3.0
24    33           2           0.02              2.0
39    34           1           0.01              1.0
8     35           3           0.03              3.0
4     36           4           0.04              4.0
3     37           4           0.04              4.0
45    39           1           0.01              1.0
13    40           3           0.03              3.0
38    42           1           0.01              1.0
6     44           3           0.03              3.0
32    45           1           0.01              1.0
36    46           1           0.01              1.0
30    47           1           0.01              1.0
15    48           2           0.02              2.0
5     49           4           0.04              4.0
28    50           2           0.02              2.0
48    51           1           0.01              1.0
17    52           2           0.02              2.0
9     53           3           0.03              3.0
25    54           2           0.02              2.0
2     55           4           0.04              4.0
18    56           2           0.02              2.0
20    57           2           0.02              2.0
11    58           3           0.03              3.0
16    59           2           0.02              2.0
42    60           1           0.01              1.0
33    61           1           0.01              1.0
44    62           1           0.01              1.0
10    63           3           0.03              3.0
27    64           2           0.02              2.0
43    65           1           0.01              1.0
21    66           2           0.02              2.0
29    67           1           0.01              1.0
0     68           5           0.05              5.0
46    69           1           0.01              1.0
40    70           1           0.01              1.0

Calcular la frecuencia acumulada

In [25]:
tabla_frecuencias['Frec Acumulada'] = tabla_frecuencias['Frecuencia'].cumsum()
tabla_frecuencias

    Edad  Frecuencia  Frec Relativa  Frec Porcentual  Frec Acumulada
23    18           2           0.02              2.0               2
37    19           1           0.01              1.0               3
35    20           1           0.01              1.0               4
26    21           2           0.02              2.0               6
41    22           1           0.01              1.0               7
31    23           1           0.01              1.0               8
22    24           2           0.02              2.0              10
19    25           2           0.02              2.0              12
34    26           1           0.01              1.0              13
47    27           1           0.01              1.0              14
14    29           3           0.03              3.0              17
7     30           3           0.03              3.0              20
1     31           4           0.04              4.0              24
12    32           3           0.03              3.0              27
24    33           2           0.02              2.0              29
39    34           1           0.01              1.0              30
8     35           3           0.03              3.0              33
4     36           4           0.04              4.0              37
3     37           4           0.04              4.0              41
45    39           1           0.01              1.0              42
13    40           3           0.03              3.0              45
38    42           1           0.01              1.0              46
6     44           3           0.03              3.0              49
32    45           1           0.01              1.0              50
36    46           1           0.01              1.0              51
30    47           1           0.01              1.0              52
15    48           2           0.02              2.0              54
5     49           4           0.04              4.0              58
28    50           2           0.02              2.0              60
48    51           1           0.01              1.0              61
17    52           2           0.02              2.0              63
9     53           3           0.03              3.0              66
25    54           2           0.02              2.0              68
2     55           4           0.04              4.0              72
18    56           2           0.02              2.0              74
20    57           2           0.02              2.0              76
11    58           3           0.03              3.0              79
16    59           2           0.02              2.0              81
42    60           1           0.01              1.0              82
33    61           1           0.01              1.0              83
44    62           1           0.01              1.0              84
10    63           3           0.03              3.0              87
27    64           2           0.02              2.0              89
43    65           1           0.01              1.0              90
21    66           2           0.02              2.0              92
29    67           1           0.01              1.0              93
0     68           5           0.05              5.0              98
46    69           1           0.01              1.0              99
40    70           1           0.01              1.0             100

Reglas de sturges

  1. Es una regla que sirve para calcular el numero de clases o intervalos idóneo en los que se debe dividir un conjunto de datos.
  2. Establece que **el numero de clases es igual o uno más el logaritmi en base dos  del número total de datos.**

***c =1+log2(N)***

donde ***N*** es el tamaño de la muestra

In [26]:
# importamos la librería math de funciones matemáticas
import math

In [27]:
# Volvemos a usar la lista edades
print(edades)

[59, 49, 32, 25, 30, 48, 53, 55, 35, 36, 58, 47, 37, 67, 48, 32, 35, 49, 31, 63, 58, 44, 42, 36, 68, 33, 45, 57, 57, 66, 40, 23, 68, 58, 55, 25, 66, 19, 20, 46, 29, 49, 61, 26, 24, 29, 37, 18, 40, 53, 59, 63, 32, 31, 21, 70, 36, 34, 21, 37, 54, 68, 49, 54, 65, 30, 44, 24, 37, 56, 60, 22, 31, 52, 62, 18, 31, 52, 53, 39, 50, 63, 68, 40, 68, 69, 50, 55, 35, 64, 27, 36, 64, 51, 56, 44, 55, 33, 29, 30]

In [28]:
# Crea un DataFrame con las edades
df = pd.DataFrame({'Edad' : edades})
df

    Edad
0     59
1     49
2     32
3     25
4     30
..   ...
95    44
96    55
97    33
98    29
99    30

[100 rows x 1 columns]

In [29]:
# Calcular el número de intervalos utilizando la regla de Sturges
n = len(edades)
K = int( 1 + math.log2(n))
print("Valor de n = ", n, "\nNúmero de intervalos =", K)

Valor de n =  100
Número de intervalos = 7

In [30]:
# Crear la tabla de frecuencias

tabla_frecuencias = pd.cut(df['Edad'], bins=K, include_lowest=True).value_counts().reset_index()
tabla_frecuencias.columns = ['Clase' , 'Frec']
tabla_frecuencias

              Clase  Frec
0  (47.714, 55.143]    20
1  (32.857, 40.286]    18
2    (62.571, 70.0]    16
3  (25.429, 32.857]    15
4  (17.947, 25.429]    12
5  (55.143, 62.571]    12
6  (40.286, 47.714]     7

In [31]:
# Ordena la tabla de frecuencia por el intervalo
tabla_frecuencias = tabla_frecuencias.sort_values(by='Clase')
tabla_frecuencias

              Clase  Frec
4  (17.947, 25.429]    12
3  (25.429, 32.857]    15
1  (32.857, 40.286]    18
6  (40.286, 47.714]     7
0  (47.714, 55.143]    20
5  (55.143, 62.571]    12
2    (62.571, 70.0]    16

In [32]:
# Generar columnas siguientes
tabla_frecuencias['Frec Rel'] = tabla_frecuencias ['Frec'] / n
tabla_frecuencias['Frec Porc'] = tabla_frecuencias ['Frec'] / n * 100
tabla_frecuencias['Frec Ac'] = tabla_frecuencias['Frec'].cumsum()
tabla_frecuencias['Frec Rel Ac'] = tabla_frecuencias['Frec Rel'].cumsum()
tabla_frecuencias['Frec Porc Ac'] = tabla_frecuencias['Frec Porc'].cumsum()

In [33]:
# Mostrar la tabla de frecuencia
print(tabla_frecuencias)

              Clase  Frec  Frec Rel  Frec Porc  Frec Ac  Frec Rel Ac  \
4  (17.947, 25.429]    12      0.12       12.0       12         0.12
3  (25.429, 32.857]    15      0.15       15.0       27         0.27
1  (32.857, 40.286]    18      0.18       18.0       45         0.45
6  (40.286, 47.714]     7      0.07        7.0       52         0.52
0  (47.714, 55.143]    20      0.20       20.0       72         0.72
5  (55.143, 62.571]    12      0.12       12.0       84         0.84
2    (62.571, 70.0]    16      0.16       16.0      100         1.00

   Frec Porc Ac
4          12.0
3          27.0
1          45.0
6          52.0
0          72.0
5          84.0
2         100.0

In [36]:
plt.hist(edades, alpha = 0.5)
plt.title("Histograma de edades basado en la funcion de matplotlib con valores estandar")

NameError: name 'plt' is not defined

In [38]:
# Crea un histograma basado en la tabla de frecuencia
plt.hist(df['Edad'], bins=K, alpha = 0.5)
plt.title('Histograma de edades basado en la regla de Sturges')
plt.xlabel('Edades')
plt.ylabel('Frecuencia')

Text(0, 0.5, 'Frecuencia')

NameError: name 'plt' is not defined